---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Emi's portfolio" description="Welcome to Emi's portfolio">
  <section class="grid grid-cols-2 min-h-screen">
    <div class="bg-amber-500"></div>
    <div class="flex justify-center items-center m-10">
      <h1 class="text-lg">
        Hi, my name is Emilie, and I have been working as a software engineer
        for the past 5 years. I learned how to code after completing the Israel
        Tech Challenge and then was accepted into one of the biggest
        cybersecurity companies, Checkpoint. After 4 years in corporate, I was
        drawn to the startup life and joined 8fig, a fintech company that, at
        the time, consisted of 50 people.
      </h1>
    </div>
  </section>
</Layout>
