---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"a"> {
  variant?: "default" | "ghost";
}

const { variant = "default", ...props } = Astro.props;
const defaultClass =
  "text-white bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-blue-300  dark:bg-primary dark:hover:bg-blue-700 dark:focus:ring-blue-800";
const ghostClass = "";
---

<a
  class={twMerge(
    "font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 cursor-pointer",
    variant === "default" && defaultClass,
    variant === "ghost" &&
      "text-black border-2 border-blue border-solid hover:border-secondary focus:outline-none focus:ring-2 focus:ring-blue-300 ",
    Astro.props.class
  )}
  {...props}
>
  <slot />
</a>

<!-- ---
interface Props {
  variant?: "default" | "ghost";
}

const { variant = "default" } = Astro.props;
---

<button
  type="button"
  class="text-white bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-primary dark:hover:bg-blue-700 dark:focus:ring-blue-800"
>
  <slot />
</button> -->
