---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<span data-link id={id} class="cursor-pointer">
  <slot />
</span>

<style>
  span {
    text-decoration: none;
    position: relative;
  }
  span:hover {
    color: white;
  }
  span::after {
    content: "";
    background: rgb(255, 193, 23);
    background: linear-gradient(
      200deg,
      rgba(255, 193, 23, 1) 30%,
      rgba(23, 75, 255, 1) 70%
    );
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 95%;
    height: 2px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  span:hover::after {
    bottom: 0;
    height: 100%;
  }
</style>
