---
interface Props {
	id: string
}

const { id } = Astro.props
---

<span data-link id={id} class="hoverable">
	<slot />
</span>

<style>
	span {
		text-decoration: none;
		position: relative;
		font-weight: 500;
		display: inline-block;
	}
	span:hover {
		color: white;
	}
	span::after {
		content: '';
		background: rgb(255, 193, 23);
		background: linear-gradient(200deg, rgba(255, 193, 23, 1) 30%, rgba(23, 75, 255, 1) 70%);
		position: absolute;
		opacity: 0.5;
		left: 0;
		bottom: 4px;
		width: 95%;
		height: 6px;
		z-index: -1;
		transition: all 0.3s ease-in-out;
	}
	span:hover::after {
		bottom: 0;
		height: 100%;
		opacity: 0.9;
	}
</style>
