---
// years experience
const currentTime = new Date().getTime();
const startingTime = new Date("10-01-2018").getTime();
const yearsExperience =
  new Date(currentTime - startingTime).getUTCFullYear() - 1970;

// background source
const bgSrc = "default.jpg";
---

<section class="grid grid-cols-2 min-h-screen">
  <div class=`bg-no-repeat bg-center bg-cover bg-[url(/assets/${bgSrc})]`></div>
  <div class="flex justify-center items-center p-10">
    <h1 class="text-lg">
      Hi, my name is Emilie, and I have been working as a software engineer for
      the past {yearsExperience} years. I learned how to code after completing the
      <strong>Israel Tech Challenge</strong> Bootcamp and then was accepted into
      one of the biggest cybersecurity companies, <strong>Checkpoint</strong>.
      After 4 years in corporate, I was drawn to the startup life and joined
      8fig, a fintech company that, at the time, consisted of 50 people.
    </h1>
  </div>
</section>
